/*En este caso utilizo el selector universal para agustar los parametros de la pagina en general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*En este caso agrego un paddin de 55 pixeles a la pagina*/
main{
    padding-top: 55px;
}

/*Desarrollo punto 1*/
/*En este caso agrego estilo a una caja*/
.punto1{
    background-color: greenyellow;
    border: 2px solid;
    width: 70px;
    text-align: center;
    padding: 15px;
}
/*En este caso agrego una pseudo clase que cambiara el color del la caja cuando el cursor este encima de la caja*/
.punto1:hover{
    background-color: white;
    color: red;
}
/*Desarrollo punto 2*/
/*En este caso  aplico un margen acia arriba de 30 pixles*/
.punto2{
    margin-top: 30px;
}
/*En este caso aplico estilo a un texto*/
.punto2{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700px;
}
/*En este caso utilizo un selecetor de id para aplicar un color a p1 y utilizo display none para ocultar p1*/
#p1{
    color: var(--fondo);
    display: none;
}
/*En este caso utilizo la pseudo clase target para, aplicar un color, un color de fondo y volver a p1 un dato de tipo bloque*/
#p1:target{
    background-color: goldenrod;
    display: block;
    color: white;
}

/*Desarrollo punto 3*/
/*En este caso aplico un margen superior de 15pixeles y aplico un borde y color de fondo*/
.punto3{
    margin-top: 15px;
    border: 3px solid;
    background-color: goldenrod;
}
/*En este caso utilizo la peseudo clase first-child para aplicar estilo al primer hijo de de .punto3*/
.punto3 h1:first-child{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px;
}

/*Desarrollo punto 4*/

.punto4{
    margin-top: 20px;
}
/*En este caso utilizo la pseudo clase invalir para que aplique un color a los apartados invalidos*/
input:invalid{
    background-color:red;
}

/*Desarrollo punto 5*/
/*En este caso utilizo la pseudo clase first type para aplicar un color de fondo a un elemento primero en su tipo*/
.punto5 > input:first-of-type{
    background-color: goldenrod;
}

/*Desarrollo punto 6*/
/*En este caso utilizo la pseudo clase focus para aplicar un borde a los elementos seleccionados*/
.punto6:focus{
    border: 5px solid blue;
}

/*Desarrollo punto 7*/

.punto7{
    margin-top: 15px;
    border: 3px solid;
    display: inline-block;
}
/*En este caso utilizo la pseudo clase only type para aplicar un color de fondo a un elemento unico en su tipo*/
.punto7 h3:only-of-type{
    background-color: burlywood;
}

/*Desarrollo punto 8*/

.punto8{
    margin-top: 15px;
    border: 3px solid;
}
/*En este caso utilizo la pseudo clase first type para aplicar un color de fondo a un elemento primero en su tipo*/
.punto8 p:first-of-type{
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    font-weight: bold;
}

/*Desarrollo punto 9*/
/*En este caso tilizo root para inicializar una plase (color1)*/
:root{
    --color1: rgb(255, 0, 255);  
}

/*Desarollo punto 10 - 18*/
/*En este caso creo una barra de navegacion (aplico position fixed para que sea fija y utilizo z-indez para que nada se le sobre ponga)*/
.punto10{
    position: fixed;
    z-index: 10;
    background-color: green;
    border: 2px solid;
    height: 50px;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin-bottom: 25px;
}
/*En este caso aplico estilos a los elementos a dentro de nav*/
.punto10 nav > a{
    text-decoration: none;
    margin: 0px 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
/*En este caso utilizo hver para que los textos cambien de estilo a poner el curzor*/
.punto10 nav > a:hover{
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}

/*Desarrollo punto 11*/
/*En este caso utilizo la pseudo clase before para generar un corazon antes del texto*/
.punto11 h1::before{
    content: "♥";
    color: red;
}

/*Desarrollo punto 12*/
/*En este caso utilizo la pseudo clase after para agregar un texto despues del texto*/
.punto12 p::after{
    content: "→ Esto es un texto :)";
    color: green;
}

/*Desarrollo punto 13*/
/*En este caso creo un boton*/
.punto13{
    background-color:blanchedalmond;
    border: 2px solid;
    width: 80px;
    text-align: center;
    height: 50px;
    padding: 15px;
    border-radius: 15px;
}
/*En este caso aplico estilo a los elementos a dentro de nav*/
.punto13 nav > a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: brown;
}
/*En este caso creo otro bloque de fondo para simular una sombra*/
.punto13 a::after{
    content: "";
    position: absolute;
    left: 10px;
    width: 80px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    border-radius: 15px;
}

/*Desarrollo punto 14*/
/*En este caso añado estilos a un blockquote*/
blockquote{
    margin-top: 15px;
    padding: 5px;
    background-color: burlywood;
    border: 1px solid;
    color: black;
    display: inline-block;
}
/*En este caso añado comillas con after*/
.punto14::after{
    content: '"';
}
/*En este caso añado comillas con before*/
.punto14::before{
    content: '"';
}

/*Desarrollo punto 15*/

.punto15 input{
    border: 2px solid;
    margin-top: 15px;
    padding: 5px;
}
/*En este caso sobre pongo un corazon con before*/
.punto15::before{
    content: "♥";
    color: red;
    font-size: 20px;
    position: absolute;
    padding-top: 18px;
    padding-left: 6px;
}

/*Desarrollo punto 16 - 9*/

.punto16{
    margin-top: 15px;
}
/*En este caso  creo un contenedor y aplico una variable de color*/
.punto16 section{
    position: relative;
    width: 250px;
    height: 250px;
    background-color: var(--color1);
}
/*En este caso muevo la posicion de la imagen sin alterar su flujo*/
.punto16 img{
    width: 100px;
    position: absolute;
    left: 95px;
    bottom: 30px;
}

/*Desarrollo punto 17*/
/*En este caso creo un elemento card*/
.punto17{
    background-image: linear-gradient(orange, rgb(232, 205, 24));
    height: 300px;
    width: 250px;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}
/*En este caso aplico estilos a los elementos h3  dentro de la card*/
.card h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: crimson;
}
/*En este caso aplico estilos a los elementos p dentro de card*/
.card p{
    margin: 10px 0px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
/*En este caso creo un boton*/
.card button{
    position: absolute;
    font-size: 20px;
    left: 35%;
}

/*Desarrollo punto 19*/

/*Caja 1 original mente se pondra debajo de caja 2, pero con z-index esta caja se sobre podra a caja2*/
.caja1{
    background-color: red;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    margin-left: 40px;
}
/*Esta caja sin z-index se sobre pondra a caja 1, pero con z-index esta caja quedara debajo*/
.caja2{
    background-color: blue;
    height: 200px;
    width: 200px;
    border: 2px solid black;
    position: absolute;
}

/*Desarrollo punto 20*/
/*En este caso creo un elemento card (Lo centro utilizando position y transform)*/
.punto20{
    background-image: linear-gradient(darkblue, blue);
    height: 300px;
    width: 250px;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    transform:translateX(50rem)
}
/*En este caso aplico unas medidas al contenedor*/
.card2{
    height: 100%;
    width: 100%;
}
/*En este caso aplico una imagen en el elemento card*/
.card2 img{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    object-fit: cover;
}

/*Desarrollo punto 21*/
 /*En este caso creo y aplico una variable de color*/
:root{
    --primario: red;
}

.punto21{
    margin-top: 10px;
    border: 2px black solid;
    color: var(--primario);
    background-color: bisque;
    display: inline-block;
}

.punto21 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.punto21 h1:hover{
    color: var(--color1);
}

/*Desarollo punto 22 - 23*/
/*En este caso creo y aplico unas variables de color para letras y fondo*/
:root{
    --fondo: rgb(65, 64, 64);
    --letras: white;
}

body{
    background-color: var(--fondo, black);
    color: var(--letras, yellow);
}

/*Desarrollo punto 24*/
/*En este caso llamo una variable local*/
.punto24{
    --colorsi:gold;
    background-color: var(--colorsi);
    color: var(--fondo);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

